.ea-button {
  height: 40px;
  padding: 10px 20px;
  line-height: 1;
  background-color: transparentize($grayLighter, .15);
  border-radius: 20px;
  transition: color .2s ease-out, background-color .2s ease-out, box-shadow .35s ease-out;
  &:hover {
    box-shadow: 0 5px 30px $blue;
    background-color: $blue;
    color: white;
    border: none;
  }
}

.ea-button-outline {
  height: 40px;
  padding: 10px 20px;
  line-height: 1;
  color: transparentize(black, .35);
  border: 1px solid transparentize(black, .35);
  border-radius: 20px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}

.input-outline {
  height: 40px;
  padding: 10px 20px;
  line-height: 20px;
  border: 1px solid $gray;
  border-radius: 20px;
  background-color: transparent;
  &:focus {
    border-color: $blue;
  }
}

//BUTTON GROUPING

.button-group-center {
  display: flex;
  justify-content: center;
  .ea-button {
    margin: 0 10px;
  }
}
