*, *:before, *:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
}

.page-name {
  padding-top: 70px;
  margin-bottom: 20px;
  opacity: 0.8;
}

.page-description {
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 640px;
  font-size: 18px;
  line-height: 1.25;
  opacity: 0.8;
}
