$grayDarkest:       rgb(40, 40, 40);
$grayDark:          rgb(75, 75, 75);
$grayMedDark:       rgb(100, 100, 100);
$grayMed:           rgb(119, 119, 119);
$gray:              rgb(160, 160, 160);
$grayMedLight:      rgb(202, 202, 202);
$grayLight:         rgb(220, 220, 220);
$grayLighter:       rgb(230, 230, 230);
$grayLightest:      rgb(238, 238, 238);
$offWhite:          rgb(245, 245, 245);


$brand-main: rgb(73, 98, 226);
$red: rgb(244, 45, 18);
