@import 'client/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';

/**
 * App-wide Styles
 */

 @import '../styles/variables';
 @import '../styles/structure';
 @import '../styles/typography';
 @import '../styles/buttons';
 

// Component styles are injected through grunt
/* inject:scss */
@import 'admin/admin';
@import 'main/main';
@import 'main/register/register';
@import 'main/welcome/welcome';
@import '../components/navbar/navbar';
@import '../components/oauth-buttons/oauth-buttons';
/* endinject */
