.welcome-register-view {
  &.ng-enter {
    transition: .5s;
    opacity: 0;
  }
  &.ng-enter-active {
    opacity: 1;
  }
  &.ng-leave {
    transition: .5s;
    opacity: 1;
  }
  &.ng-leave-active {
    opacity: 0;
  }
}
