<div class="page-header">
  <h1 class="page-name">Organize Your Friends</h1>
  <p class="page-description">A simple way to make an event and tell your friends, no Facebook necessary.</p>
  <div class="login-buttons button-group-center">
    <button class="ea-button create-event-button" ng-click="welcomeCtrl.go('eventsCreate')">Create an Event</button>
    <button class="ea-button ea-button-outline sign-in-button" ng-click="welcomeCtrl.go('main.register')">Sign In / Register</button>
  </div>
</div>
