.app-navbar {
  padding: 0 15px;
  @include clearfix;
}

.app-logo a {
  height: 60px;
  float: left;
  font-weight: 900;
  font-size: 24px;
  color: $brand-main;
  text-decoration: none !important;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.user-details {
  height: 60px;
  float: right;
  display: flex;
  align-items: center;
}
