<div>
  <div ng-if="!$ctrl.signInToggled">
    <div class="logo">EVENTAPP</div>
    <div class="page-header">
      <h1 class="page-name">Organize Your Friends</h1>
      <p class="page-description">A simple way to make and event and tell your friends, no Facebook necessary.</p>
      <div class="login-buttons">
        <button class="button-outline create-event-button" href="/event-created.html">Create an Event</button>
        <button class="button-outline sign-in-button">Sign In/Register</button>
      </div>
    </div>
  </div>
  <div ng-if="$ctrl.signInToggled">
    <h1 class="page-name">Sign In or Register</h1>
    <div class="login-inputs">
      <div class="login-input-wrap">
        <input id="email-input" type="email" class="login-input input-outline" />
        <label class="login-input-label" for="email-input">Email</label>
      </div>
      <div class="login-input-wrap">
        <input id="password-input" type="password" class="login-input input-outline" />
        <label class="login-input-label" for="password-input">Password</label>
      </div>
      <div class="login-input-wrap">
        <input id="name-input" type="text" class="login-input input-outline" />
        <label class="login-input-label" for="name-input">Name</label>
      </div>
    </div>
  </div>
</div>
