*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
}

.page-name {
  padding-top: 70px;
  margin-bottom: 20px;
  opacity: 0.8;
}

.page-description {
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 640px;
  font-size: 18px;
  line-height: 1.25;
  opacity: 0.8;
}

.login-buttons {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  .ea-button-outline {
    display: inline-block;
    width: 160px;
  }
  .create-event-button {
    margin-right: 20px;
  }
}

.login-input-wrap {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.login-input-label {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  color: $gray;
  font-weight: 300;
  cursor: text;
  transition: all .3s ease-in-out;
}

.login-input {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  &:focus {
    ~ .login-input-label {
      width: 20%;
    }
  }
}
