.login-error-text {
  color: $red;
}

.input-error-text {
  font-size: .9rem;
  margin-top: 5px;
}

.login-inputs {
  margin-top: 50px;
}

.login-input-wrap {
  position: relative;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.login-input-label {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 20px;
  padding: 0 5px;
  background-color: white;
  color: $gray;
  border-radius: 10px;
  font-weight: 300;
  cursor: text;
  transition: all .2s ease-in-out;
}

.login-input {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 100%;
  position: relative;
  transition: all .2s ease-in-out;

  &.ng-empty {
    + .login-input-label {
      top: 9px;
    }
  }
  &.error, &.ng-invalid:not(.ng-empty) {
    border-color: $red;
    + .login-input-label {
      color: $red;
    }
    &:focus {
      + .login-input-label {
        color: $red;
      }
    }
  }
  &:focus {
    + .login-input-label {
      top: -10px;
      color: $brand-main;
    }
  }
}

.back-button {

}

.register-button {

}
